.photoContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 40;
  background: rgba(24, 24, 24, 0.616);
}

.image {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);


  max-height: 90%;

  max-width: 90%;
}
