.panel {
  height: 250px;
  display: flex;
  background: var(--main-black);
  flex-direction: column;
  align-items: center;
  transition: height 0.3s ease;
}


@media screen and (max-width: 600px) {
  .panel {
    height: 120px;
  }
}

.hide {
  height: 0;
}