* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-black: #000000;
  --main-white: #ffffff;
}

body {
  margin: 0;
  font-family: "SF Display";
  background: var(--main-white);
  animation: 0.2s ease-out 0s 1 opac;
}

@keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}

.heading1 {
  font-size: 72px;
}

.heading2 {
  font-size: 52px;
}

@media screen and (max-width: 700px) {
  .heading1 {
    font-size: 32px;
  }
  .heading2 {
    font-size: 18px;
  }
}

.base-container {
  width: 100%;
  height: 100%;
}
