:root {
  --main-black: #353237;
}

body {
  margin: 0;
  font-family: "SF Display";
}

@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}