:root {
  --main-black: #000000;
  --main-white: #ffffff;
}

body {
  margin: 0;
  font-family: "SF Display";
}
* {
  transition: all 0.5s ease;
}

@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}

.heading1 {
  font-size: 72px;
}

.heading2 {
  font-size: 52px;
}

@media screen and (max-width: 600px) {
  .heading1 {
    font-size: 32px;
  }
  .heading2 {
    font-size: 18px;
  }
}
