.div {
  background: blueviolet;
}

.searchPanel {
  height: 250px;

  display: flex;

  background: var(--main-black);

  flex-direction: column;

  align-items: center;

  justify-content: center;
}
