.input {
  background: none;
  border: 0;
  text-align: center;
  color: var(--main-white);
  width: 60vw;
}

.input::-webkit-input-placeholder {
  color: var(--main-white);
}
.input:-ms-input-placeholder {
  color: var(--main-white);
}
.input::-moz-placeholder {
  color: var(--main-white);
  opacity: 1;
}
.input:-moz-placeholder {
  color: var(--main-white);
  opacity: 1;
}
